* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Class Selector */

.block {
    display:flex;
    flex-wrap: wrap;
    height: 10rem;
    width: 10rem;
}

.container {
    display: flex;
        flex-wrap: wrap;
    height: 35rem;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    width: 35rem;
}

.cross {
    background-image: url('images/cross.png');
    background-size: cover;
}
.circle {
    background-image: url('images/circle.png');
    background-size: cover;
}

.container .bottom {
    border-top: solid black 2px;
}

.container .left {
    border-right: solid black 2px;
}

.container .right {
    border-left: solid black 2px;
}

.container .top {
    border-bottom: solid black 2px;    
}

.container .middle {

}
.minisquare {
    border: solid black 1px;
    height: 10px;
    width: 10px;
}
.yellow {
    background-color: yellow;
}